*.tmp
build/
/.nb-gradle/
/.gradle/
/viikko2/NhlStatistics1/.nb-gradle/
/viikko2/Verkkokauppa1/.nb-gradle/
/viikko3/.nb-gradle/
/viikko4/TyhjaProjekti/.nb-gradle/
/viikko4/WebLogin/.nb-gradle/
/viikko5/MockitoDemo/.nb-gradle/
/viikko5/MatkakorttiMockito/.nb-gradle/
/viikko5/VerkkokauppaSpring/.nb-gradle/
/viikko5/IntJoukkoSovellus/.nb-gradle/